body{
    margin: 0px;
    padding: 0px;
}
/* .side-bar-container{
    width: 100%;
    height: 100%;

} */
.side-bar-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.sidebar{

    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 750px;
    background-color: rgba(162, 162, 162, 0.416);
    border-radius: 10px;
}
.content > li{
    
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none;
    color: white;
   
    
}
.content{
    margin-bottom: 0px;
    padding: 18px;
}
.content > li > a{
   
    text-decoration: none;
    color: white;
   
    
}
@media only screen and (min-width: 768px) {
.open-btn{
    display: none !important;
}
.close-btn{
    display: none !important;
}
.mini-header-container{
    display: none !important;
}
}








@media only screen and (max-width: 768px) {
    .mini-header-container{
        display: flex;
        width: 100vh;
        justify-content: center;
        align-items: center;
      }
      .mini-header{

        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 20px;
        
        width: 340px;
        border-radius: 15px;
        height: 50px;
        background: #5e5e5e71;
      }
      .brand-title{
        margin-right:40px ;
      }
      .mini-header > .brand-logo{
        width: 32px;
        height: 32px;
        margin-right: 21px;
      }
      .mini-header > .brand-title{
        color: white;
      }

    .content> li{
        display: block; /* Display list items in a single line */
            margin-right: 10px
    }
    .side-bar-container{
        display: flex;
        width: 100%;
        
        
        justify-content: left;
    }
.sidebar{
    display: block;
    margin-top: 0;
    border-radius: 0;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 50px;
    transition: all 0.3s ease;
    z-index: 2;
}
.sidebar > ul > li > a{
    text-decoration: none;
 
   
    color: white ;
}
.sidebar > ul { 
    list-style-type: none;
   
}
.sidebar ul li {
padding: 10px;
}

.open-btn > img {
width: 35px;
height: 35px;
margin-right: 10px;
/* top: 20px;
left: 650px; */
}
/* .close-btn {
position: absolute;
top: 10px;
right: 10px;
color: white;
background: transparent;
border: none;
font-size: 24px;
cursor: pointer;
} */
.close-btn {
    display: none;
}
.close-btn > img {
    width: 35px;
height: 35px;
margin-right: 10px;
    
}

}

